

<div>
    <div class="row table-row content-column-padding-bottom">
        <div class="col-sm-4 content-column-margin-bottom">
            <div style="height:300px">
                <div class="content-cell-border text-align-center content-margin-bottom" style="height:50px">
                    <text class="text-large Arial-font darkgrey-color">一 弦 清 心</text>
                </div>
                <div class="content-cell-border" style="height:240px">
                </div>
            </div>
        </div>
      
        <div class="col-sm-8" style="height:300px">
            <div class="background-highdarkgray content-padding-top" style="height:100%">
                <h2 class="text-extra-large white-color content-padding-left content-padding-bottom content-margin-left">雅 韵 听 竹</h2>
                <div class="borderline"></div>
            </div>
        </div>
    </div>
    <div class="row table-row content-column-padding-bottom">
        <div class="col-sm-8 content-column-margin-bottom">
            <div class="content-cell-border content-padding-bottom content-padding-left content-padding-right content-padding-top " style="height:300px">
                <div class="background-highlightgray" style="height: 100%"></div>
            </div>
        </div>
        <div class="col-sm-4 " style="height:300px">
            <div class="background-highdarkgray" style="height:100%">
                <text>Nothing to worry. Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.Nothing to worry.</text>
            </div>
        </div>
    </div>

    <div class="row table-row content-column-padding-bottom">
        <div class="col-sm-11 content-column-margin-bottom" style="height:300px">
            <div class="background-orange" style="height:100%"> </div>
        </div>
        <div class="col-sm-10 content-column-margin-bottom" style="height:300px">
            <div class="background-highdarkgray " style="height:100%"> </div>
        </div>
        <div class="col-sm-9">
            <div class="content-cell-border content-padding-bottom content-padding-left content-padding-right content-padding-top " style="height:300px">
                <div class="background-highlightgray " style="height: 100%"></div>
            </div>
        </div>
    </div>
</div>