.background-white {
    background-color:white;
}

.background-highdarkgray{
    background:#595755;
}

.background-highlightgray{
    background: #a9a6a1;
}

.background-body{
    background-color:#eeeeee;
}

.background-orange{
    background-color:#f97220;
}