.nav-margin-bottom {
    margin-top: 0.13em;
}

.nav-margin-top {
    margin-top: 0.13em;
}


.nav-margin-left {
    margin-left: 0.5em;
}

.nav-margin-right {
    margin-right: 0.5em;
}

.main-margin-left {
    margin-left: 2em;
}

.main-margin-right {
    margin-right: 2em;
}

.main-margin-bottom {
    margin-bottom: 1em;
}

.main-margin-top {
    margin-top: 1.5em;
}

.content-margin-bottom {
    margin-bottom: 10px;
}

.content-margin-left {
    margin-left: 10px;
}

.content-margin-right {
    margin-right: 10px;
}

.content-margin-top {
    margin-top: 10px;
}

.no-margin-bottom {
    margin-bottom: 0em;
}

.no-margin-top {
    margin-top: 0em;
}

.no-margin-right {
    margin-right: 0em;
}

.no-margin-left {
    margin-left: 0em;
}

.content-margin-footer {
    margin-bottom: 55px;
}

.content-column-margin-bottom {
    margin-bottom: 30px;
}
