.content-column-padding-bottom{
    padding-bottom:30px;
}

.content-padding-bottom{
    padding-bottom:15px;
}

.content-padding-top{
    padding-top:15px;
}

.content-padding-left{
    padding-left:15px;
}

.content-padding-right{
    padding-right:15px;
}

.no-padding-bottom {
    padding-bottom:0px;
}

.no-padding-top {
    padding-top:0px;
}

.no-padding-left {
    padding-left:0px;
}

.no-padding-right {
    padding-right:0px;
}
