.text-extra-small {
    font-size: 65%;
}

.text-small {
    font-size: 85%;
}

.text-large {
    font-size: 120%
}

.text-extra-large {
    font-size: 240%
}

.text-align-center{
    text-align:center;
    line-height:50px;
}

.Arial-font{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.darkgrey-color {
    color:#646464;
}

.white-color{
    color:white;
}


